body {
  font-weight: 14;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

input,
select,
textarea {
  padding: 0;
  margin: 0;
  font-weight: 14;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

.wrapper {
  margin: 0 auto;
  width: 1370px;
  height: 100%;
}

.title-left {
  font-weight: 600;
  font-size: 30px;
}

.title-center {
  margin-top: 200px;
  font-weight: 600;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #858585;
}

.subtitle-center {
  margin: 32px;
  font-weight: 400;
  font-size: 20px;
  color: #858585;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 157px;
  height: 56px;
  background-image: url(/img/logo1.png);
}

.header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 128px;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #424242;
}

.header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  margin: 0 40px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.nav__link:hover {
  text-decoration: underline;
  color: #ffc222;
  transition: color 0.1s linear;
}

/* Intro */

.intro {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url(/img/intro.png);
  color: #fff;
}

.intro__title {
  font-weight: 600;
  font-size: 40px;
  margin-top: 125px;
}

.intro__text {
  color: rgba(221, 221, 221, 1);
  font-weight: 500;
  font-size: 20px;
  margin: 33px;
  width: 771px;
  height: 73px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro__button {
  background: url(/img/arrow.png) no-repeat;

  width: 195px;
  height: 51px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ffc222;
  color: #fff;
  border-radius: 10px;
}

.intro__button:hover {
  color: #000;
  background-color: #ffc222;
  transition: 0.3s;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ffc222;
  border-radius: 10px;
  font-weight: 500;
  background: url(/img/arrow.png) no-repeat;
}

.btn1:hover {
  color: #000;
  background-color: #ffc222;
  transition: 0.3s;
}

/* Documents and Services*/

.docs {
  height: 1030px;
}

.docs__title {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}

.docs__subtitle {
  margin: 50px auto;
  width: 522px;
  height: 210px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  text-align: center;

  color: #858585;
}

/* services */

.all__services {
  display: flex;
  justify-content: space-between;
}

.service {
  height: 335px;
  width: 378px;
  color: #000;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.service:hover {
  background: #324451;
  color: #fff;
}

.service__icon {
  margin: 30px auto;

  height: 60px;
  width: 60px;
}

.service__icon1 {
  background-image: url(/img/icons/icon1.png);
}

.service__icon2 {
  background-image: url(/img/icons/icon2.png);
}

.service__icon3 {
  background-image: url(/img/icons/icon3.png);
}

.service__title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

.service__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.service__btn {
  margin: 0 auto;
  margin-top: 120px;
  width: 210px;
  height: 45px;
  font-size: 14px;
}

/* Company */

.company {
  height: 292px;
  color: #fff;
  background: url(/img/company.png) no-repeat;
}

.company__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.company__title {
  font-size: 30px;
  font-weight: 700;
}

.company__subtitle {
  width: 834px;
  height: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.company__btn {
  width: 209px;
  height: 40px;
}

/* Consult */

.consult {
  height: 1030px;
  margin: 200px 0;
}

.consult__wrapper {
    width: 100%;
    display: flex;
	justify-content: space-between;
    height: 100%;
}

.consult__left {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  color: rgba(133, 133, 133, 1);
  width: 680px;
  height: 500px;
}

.consult__right {
  width: 680px;
  height: 500px;
  
}

label {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(133, 133, 133, 1);
}

.consult__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.consult__subtitle {
  margin: 32px auto;
  width: 489px;
  height: 90px;
  text-align: center;
}

.consult input,
select {
  display: block;

  padding: 0;
  margin: 12px 0;
  width: 400px; /* 414 */
  height: 54px;
  border: 1px solid rgba(133, 133, 133, 1);
  outline: none;
  border-radius: 8px;
  background-color: #fff;
}

.consult textarea {
  width: 670px;
  height: 268px;
  border-radius: 8px;
}

.consult__button {
  width: 245px;
  height: 54px;
}

/* Advantages */

.adv {
  height: 332px;
  background: url(/img/advantages.png) no-repeat;
}

/* About */

.about {
  height: 1030px;
}

/* Reviews */

.reviews {
  width: 100%;
  height: 550px;
  margin: 200px auto;
}

.review__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

.footer {
  color: #fff;
  bottom: 0;
  height: 492px;
  background: #1e303d;
  border-radius: 20px 20px 0px 0px;
}

.footer__title {
  font-weight: 600;
  font-size: 30px;
}

.footer__inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__left {
  height: 324px;
  width: 50%;
}

.footer__right {
  height: 324px;
  width: 50%;
  background: url(/img/map.png) no-repeat;
}

.footer__btn {
  width: 245px;
  height: 54px;
  font-size: 14px;
}

.info {
  font-weight: 700;
  font-size: 20px;
}

.number {
  font-weight: 700;
  font-size: 20px;
}

.number::before {
  width: 24px;
  height: 23px;
  content: "";
  background: url(/img/icons/иконка-1.png);
}
